<p class="input-group cwt-date-picker">
    <input type="text" name="name" ng-class="{'date-picker-has-error': ctrl.hasError}"
    class="form-control" uib-datepicker-popup="{{ctrl.format}}"
    data-ng-model="ctrl.displayModel" is-open="ctrl.opened"
    datepicker-options="ctrl.dateOptions" alt-input-formats="ctrl.altInputFormats"
    datepicker-template-url="templates/date-picker.tpl.html"
    datepicker-popup-template-url="templates/date-picker-popup.tpl.html"
    show-button-bar="true" placeholder="{{ctrl.placeholder}}"/>
    <span class="input-group-btn">
        <button type="button" class="btn btn-primary" data-ng-click="ctrl.open($event)">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
</p>