<table role="grid" aria-labelledby="{{::uniqueId}}-title" aria-activedescendant="{{activeDateId}}" ng-init="">
  <tbody>
    <tr class="uib-months" role="row">
      <td ng-repeat="dt in rows[0].concat(rows[1])" class="uib-month text-center" role="gridcell"
        id="{{::dt.uid}}"
        ng-class="::dt.customClass">
        <ng-include src="'templates/date-picker-combined-month-button.tpl.html'"></ng-include>
      </td>
    </tr>
    <tr class="uib-months" role="row">
      <td ng-repeat="dt in rows[2].concat(rows[3])" class="uib-month text-center" role="gridcell"
        id="{{::dt.uid}}"
        ng-class="::dt.customClass">
        <ng-include src="'templates/date-picker-combined-month-button.tpl.html'"></ng-include>
      </td>
    </tr>
  </tbody>
</table>
<hr/>