<table role="grid" aria-labelledby="{{::uniqueId}}-title" aria-activedescendant="{{activeDateId}}" style="width:100%">
  <thead>
    <tr>
      <th colspan="2"><button type="button" class="btn btn-default btn-sm pull-left uib-left" ng-click="move(-12)" tabindex="-1"><i aria-hidden="true" class="glyphicon glyphicon-chevron-left"></i><span class="sr-only">previous</span></button></th>
      <th colspan="2"><button id="{{::uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" class="btn btn-default btn-sm uib-title" ng-disabled="datepickerMode === maxMode" tabindex="-1"><strong>{{title | limitTo : 4 : title.length-4}}</strong></button></th>
      <th colspan="2"><button type="button" class="btn btn-default btn-sm pull-right uib-right" ng-click="move(12)" tabindex="-1"><i aria-hidden="true" class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">next</span></i></button></th>
    </tr>
  </thead>
</table>
<table role="grid" aria-labelledby="{{::uniqueId}}-title" aria-activedescendant="{{activeDateId}}" style="width:100%">
  <thead>
    <tr>
      <th colspan="2"><button type="button" class="btn btn-default btn-sm pull-left uib-left" ng-click="move(-1)" tabindex="-1"><i aria-hidden="true" class="glyphicon glyphicon-chevron-left"></i><span class="sr-only">previous</span></button></th>
      <th colspan="2"><button id="{{::uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" class="btn btn-default btn-sm uib-title" ng-disabled="datepickerMode === maxMode" tabindex="-1"><strong>{{title | limitTo : title.length-4 : 0}}</strong></button></th>
      <th colspan="2"><button type="button" class="btn btn-default btn-sm pull-right uib-right" ng-click="move(1)" tabindex="-1"><i aria-hidden="true" class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">next</span></i></button></th>
    </tr>
  </thead>
</table>
<table role="grid" aria-labelledby="{{::uniqueId}}-title" aria-activedescendant="{{activeDateId}}">
  <thead>
    <tr>
      <th ng-if="showWeeks" class="text-center"></th>
      <th ng-repeat="label in ::labels track by $index" class="text-center"><small aria-label="{{::label.full}}">{{::label.abbr | limitTo:1}}</small></th>
    </tr>
  </thead>
<tbody>
    <tr class="uib-weeks" ng-repeat="row in rows track by $index">
      <td ng-if="showWeeks" class="text-center h6"><em>{{ weekNumbers[$index] }}</em></td>
      <td ng-repeat="dt in row" class="uib-day text-center" role="gridcell"
        id="{{::dt.uid}}"
        ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm uib-daypicker-btn"
      uib-is-class="
        'uib-daypicker-active' for activeDt,
              'uib-daypicker-selected' for selectedDt 
              on dt"
          ng-class="{'hide-date':dt.secondary}"
            ng-click="select(dt.date)"
            ng-disabled="::dt.disabled"
            tabindex="-1"><span>{{::dt.label}}</span></button>
      </td>
    </tr>
  </tbody>
</table>

