<div ng-switch="datepickerMode">
  <div uib-daypicker template-url="templates/date-picker-combined-day.tpl.html" ng-switch-when="day" tabindex="0" class="uib-daypicker"></div>
  <div uib-monthpicker ng-switch-when="month" tabindex="0" class="uib-monthpicker"></div>
  <div uib-yearpicker ng-switch-when="year" tabindex="0" class="uib-yearpicker"></div>
</div>