.hide-date{
	display:none !important;
}

.uib-daypicker:focus{
	outline-width:0px !important;
}

.uib-daypicker-btn, .uib-daypicker-btn:focus{
	border:0px !important;
	border-radius:100% !important;
	height: 34px !important;
    width: 34px !important;
    outline: none !important;
}

.uib-daypicker-active.uib-daypicker-selected{
	background-color:#0098A1 !important;
	color:white !important;
}

.uib-daypicker-active{
	background-color: #ccc !important;
}

.uib-left, .uib-right, .uib-title {
    border: 0px !important;
    background: white !important;
    margin-bottom: 10px !important;
}

.date-picker-has-error{
	border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
}

.uib-month button {
	padding: 1px 9px;
	font-size: 11px;
	border: none;
}