<!doctype html>
<html ng-app="cwt.date-picker">

<head>
  <meta charset="utf-8">
  <title>CWT date-picker</title>
  <meta name="description" content="">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimum-scale=1.0">
  <!-- bower:css -->
  <!-- endbower -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="styles/date-picker-cwt.css" />
</head>

<body ng-controller="ctrl as ctrl">
  <div style="width:500px; margin:50px auto;">
    <cwt-date-picker data-placeholder="mm/dd/yyyy" data-has-error="false" data-date-picker-model="ctrl.datepickerModel" data-date-picker-output-model="ctrl.outputModel"></cwt-date-picker>
  </div>
  <button ng-click=ctrl.save()>Save</button>



  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/lodash/lodash.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- endbower -->
  <script>

angular.module('cwt.date-picker', ['ui.bootstrap']).controller('ctrl',function(){

  var ctrl = this;

  ctrl.datepickerModel = "2017-09-01";
  //ctrl.datepickerModel = new Date();
  ctrl.datepickerModelDate = "";

  ctrl.save = function(){
    console.log(new Date(ctrl.outputModel).toUTCString());
  }
});

</script>

  <script src="scripts/directives/date-picker.js"></script>
</body>

</html>